.pagination {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

.action-width {
    width: 120px;
    cursor: pointer;
}

.page-link:hover {
    cursor: pointer;
}

pagination.disabled:hover {
    cursor: none;
}

.inactive {
    background-color: aliceblue;
}